In [2]:
import pandas as pd

In [5]:
DP = pd.read_csv(r"C:\Users\Opsydee\Downloads\Duration  Date  Pulse  Maxp.txt")

In [8]:
DP

     Duration          Date  Pulse  Maxpulse  Calories
0          60  '2020/12/01'    110       130     409.1
1          60  '2020/12/02'    117       145     479.0
2          60  '2020/12/03'    103       135     340.0
3          45  '2020/12/04'    109       175     282.4
4          45  '2020/12/05'    117       148     406.0
5          60  '2020/12/06'    102       127     300.0
6          60  '2020/12/07'    110       136     374.0
7         450  '2020/12/08'    104       134     253.3
8          30  '2020/12/09'    109       133     195.1
9          60  '2020/12/10'     98       124     269.0
10         60  '2020/12/11'    103       147     329.3
11         60  '2020/12/12'    100       120     250.7
12         60  '2020/12/12'    100       120     250.7
13         60  '2020/12/13'    106       128     345.3
14         60  '2020/12/14'    104       132     379.3
15         60  '2020/12/15'     98       123     275.0
16         60  '2020/12/16'     98       120     215.2
17         60  '2020/12/17'    100       120     300.0
18         45  '2020/12/18'     90       112       NaN
19         60  '2020/12/19'    103       123     323.0
20         45  '2020/12/20'     97       125     243.0
21         60  '2020/12/21'    108       131     364.2
22         45           NaN    100       119     282.0
23         60  '2020/12/23'    130       101     300.0
24         45  '2020/12/24'    105       132     246.0
25         60  '2020/12/25'    102       126     334.5
26         60    2020/12/26    100       120     250.0
27         60  '2020/12/27'     92       118     241.0
28         60  '2020/12/28'    103       132       NaN
29         60  '2020/12/29'    100       132     280.0
30         60  '2020/12/30'    102       129     380.3
31         60  '2020/12/31'     92       115     243.0

In [11]:
DP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0    Duration  32 non-null     int64
 1   Date       31 non-null     object
 2   Pulse      32 non-null     int64
 3   Maxpulse   32 non-null     int64
 4   Calories   30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [14]:
DP.isnull()

     Duration   Date  Pulse  Maxpulse  Calories
0       False  False  False     False     False
1       False  False  False     False     False
2       False  False  False     False     False
3       False  False  False     False     False
4       False  False  False     False     False
5       False  False  False     False     False
6       False  False  False     False     False
7       False  False  False     False     False
8       False  False  False     False     False
9       False  False  False     False     False
10      False  False  False     False     False
11      False  False  False     False     False
12      False  False  False     False     False
13      False  False  False     False     False
14      False  False  False     False     False
15      False  False  False     False     False
16      False  False  False     False     False
17      False  False  False     False     False
18      False  False  False     False      True
19      False  False  False     False     False
20      False  False  False     False     False
21      False  False  False     False     False
22      False   True  False     False     False
23      False  False  False     False     False
24      False  False  False     False     False
25      False  False  False     False     False
26      False  False  False     False     False
27      False  False  False     False     False
28      False  False  False     False      True
29      False  False  False     False     False
30      False  False  False     False     False
31      False  False  False     False     False

In [17]:
DP.isna()

     Duration   Date  Pulse  Maxpulse  Calories
0       False  False  False     False     False
1       False  False  False     False     False
2       False  False  False     False     False
3       False  False  False     False     False
4       False  False  False     False     False
5       False  False  False     False     False
6       False  False  False     False     False
7       False  False  False     False     False
8       False  False  False     False     False
9       False  False  False     False     False
10      False  False  False     False     False
11      False  False  False     False     False
12      False  False  False     False     False
13      False  False  False     False     False
14      False  False  False     False     False
15      False  False  False     False     False
16      False  False  False     False     False
17      False  False  False     False     False
18      False  False  False     False      True
19      False  False  False     False     False
20      False  False  False     False     False
21      False  False  False     False     False
22      False   True  False     False     False
23      False  False  False     False     False
24      False  False  False     False     False
25      False  False  False     False     False
26      False  False  False     False     False
27      False  False  False     False     False
28      False  False  False     False      True
29      False  False  False     False     False
30      False  False  False     False     False
31      False  False  False     False     False

In [20]:
DP.isna().any()

 Duration    False
Date          True
Pulse        False
Maxpulse     False
Calories      True
dtype: bool

In [23]:
DP.isna().sum()

 Duration    0
Date         1
Pulse        0
Maxpulse     0
Calories     2
dtype: int64

In [26]:
DP[DP["Calories"].isnull()]

     Duration          Date  Pulse  Maxpulse  Calories
18         45  '2020/12/18'     90       112       NaN
28         60  '2020/12/28'    103       132       NaN

In [29]:
DP[DP["Date"].isnull()]

     Duration Date  Pulse  Maxpulse  Calories
22         45  NaN    100       119     282.0

In [35]:
R=DP.dropna()

In [38]:
R

     Duration          Date  Pulse  Maxpulse  Calories
0          60  '2020/12/01'    110       130     409.1
1          60  '2020/12/02'    117       145     479.0
2          60  '2020/12/03'    103       135     340.0
3          45  '2020/12/04'    109       175     282.4
4          45  '2020/12/05'    117       148     406.0
5          60  '2020/12/06'    102       127     300.0
6          60  '2020/12/07'    110       136     374.0
7         450  '2020/12/08'    104       134     253.3
8          30  '2020/12/09'    109       133     195.1
9          60  '2020/12/10'     98       124     269.0
10         60  '2020/12/11'    103       147     329.3
11         60  '2020/12/12'    100       120     250.7
12         60  '2020/12/12'    100       120     250.7
13         60  '2020/12/13'    106       128     345.3
14         60  '2020/12/14'    104       132     379.3
15         60  '2020/12/15'     98       123     275.0
16         60  '2020/12/16'     98       120     215.2
17         60  '2020/12/17'    100       120     300.0
19         60  '2020/12/19'    103       123     323.0
20         45  '2020/12/20'     97       125     243.0
21         60  '2020/12/21'    108       131     364.2
23         60  '2020/12/23'    130       101     300.0
24         45  '2020/12/24'    105       132     246.0
25         60  '2020/12/25'    102       126     334.5
26         60    2020/12/26    100       120     250.0
27         60  '2020/12/27'     92       118     241.0
29         60  '2020/12/29'    100       132     280.0
30         60  '2020/12/30'    102       129     380.3
31         60  '2020/12/31'     92       115     243.0

In [41]:
DP

     Duration          Date  Pulse  Maxpulse  Calories
0          60  '2020/12/01'    110       130     409.1
1          60  '2020/12/02'    117       145     479.0
2          60  '2020/12/03'    103       135     340.0
3          45  '2020/12/04'    109       175     282.4
4          45  '2020/12/05'    117       148     406.0
5          60  '2020/12/06'    102       127     300.0
6          60  '2020/12/07'    110       136     374.0
7         450  '2020/12/08'    104       134     253.3
8          30  '2020/12/09'    109       133     195.1
9          60  '2020/12/10'     98       124     269.0
10         60  '2020/12/11'    103       147     329.3
11         60  '2020/12/12'    100       120     250.7
12         60  '2020/12/12'    100       120     250.7
13         60  '2020/12/13'    106       128     345.3
14         60  '2020/12/14'    104       132     379.3
15         60  '2020/12/15'     98       123     275.0
16         60  '2020/12/16'     98       120     215.2
17         60  '2020/12/17'    100       120     300.0
18         45  '2020/12/18'     90       112       NaN
19         60  '2020/12/19'    103       123     323.0
20         45  '2020/12/20'     97       125     243.0
21         60  '2020/12/21'    108       131     364.2
22         45           NaN    100       119     282.0
23         60  '2020/12/23'    130       101     300.0
24         45  '2020/12/24'    105       132     246.0
25         60  '2020/12/25'    102       126     334.5
26         60    2020/12/26    100       120     250.0
27         60  '2020/12/27'     92       118     241.0
28         60  '2020/12/28'    103       132       NaN
29         60  '2020/12/29'    100       132     280.0
30         60  '2020/12/30'    102       129     380.3
31         60  '2020/12/31'     92       115     243.0

In [44]:
DP["Calories"] =DP["Calories"].fillna(130)

In [47]:
DP

     Duration          Date  Pulse  Maxpulse  Calories
0          60  '2020/12/01'    110       130     409.1
1          60  '2020/12/02'    117       145     479.0
2          60  '2020/12/03'    103       135     340.0
3          45  '2020/12/04'    109       175     282.4
4          45  '2020/12/05'    117       148     406.0
5          60  '2020/12/06'    102       127     300.0
6          60  '2020/12/07'    110       136     374.0
7         450  '2020/12/08'    104       134     253.3
8          30  '2020/12/09'    109       133     195.1
9          60  '2020/12/10'     98       124     269.0
10         60  '2020/12/11'    103       147     329.3
11         60  '2020/12/12'    100       120     250.7
12         60  '2020/12/12'    100       120     250.7
13         60  '2020/12/13'    106       128     345.3
14         60  '2020/12/14'    104       132     379.3
15         60  '2020/12/15'     98       123     275.0
16         60  '2020/12/16'     98       120     215.2
17         60  '2020/12/17'    100       120     300.0
18         45  '2020/12/18'     90       112     130.0
19         60  '2020/12/19'    103       123     323.0
20         45  '2020/12/20'     97       125     243.0
21         60  '2020/12/21'    108       131     364.2
22         45           NaN    100       119     282.0
23         60  '2020/12/23'    130       101     300.0
24         45  '2020/12/24'    105       132     246.0
25         60  '2020/12/25'    102       126     334.5
26         60    2020/12/26    100       120     250.0
27         60  '2020/12/27'     92       118     241.0
28         60  '2020/12/28'    103       132     130.0
29         60  '2020/12/29'    100       132     280.0
30         60  '2020/12/30'    102       129     380.3
31         60  '2020/12/31'     92       115     243.0

In [59]:
a =DP["Calories"].mean()
print(a)

293.76249999999993

In [61]:
DP["Calories"].median()

282.2

In [63]:
DP["Calories"].mode() # returns all modes in a situation where there are multiple

0    300.0
Name: Calories, dtype: float64

In [65]:
DP["Calories"].mode()[0] # returns the first mode from the list of all modes

300.0

In [67]:
DP["Calories"].fillna(a)

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    250.7
12    250.7
13    345.3
14    379.3
15    275.0
16    215.2
17    300.0
18    130.0
19    323.0
20    243.0
21    364.2
22    282.0
23    300.0
24    246.0
25    334.5
26    250.0
27    241.0
28    130.0
29    280.0
30    380.3
31    243.0
Name: Calories, dtype: float64

In [71]:
DP.fillna({"Calories": DP["Calories"].mean()}, inplace=True)

In [73]:
DP

     Duration          Date  Pulse  Maxpulse  Calories
0          60  '2020/12/01'    110       130     409.1
1          60  '2020/12/02'    117       145     479.0
2          60  '2020/12/03'    103       135     340.0
3          45  '2020/12/04'    109       175     282.4
4          45  '2020/12/05'    117       148     406.0
5          60  '2020/12/06'    102       127     300.0
6          60  '2020/12/07'    110       136     374.0
7         450  '2020/12/08'    104       134     253.3
8          30  '2020/12/09'    109       133     195.1
9          60  '2020/12/10'     98       124     269.0
10         60  '2020/12/11'    103       147     329.3
11         60  '2020/12/12'    100       120     250.7
12         60  '2020/12/12'    100       120     250.7
13         60  '2020/12/13'    106       128     345.3
14         60  '2020/12/14'    104       132     379.3
15         60  '2020/12/15'     98       123     275.0
16         60  '2020/12/16'     98       120     215.2
17         60  '2020/12/17'    100       120     300.0
18         45  '2020/12/18'     90       112     130.0
19         60  '2020/12/19'    103       123     323.0
20         45  '2020/12/20'     97       125     243.0
21         60  '2020/12/21'    108       131     364.2
22         45           NaN    100       119     282.0
23         60  '2020/12/23'    130       101     300.0
24         45  '2020/12/24'    105       132     246.0
25         60  '2020/12/25'    102       126     334.5
26         60    2020/12/26    100       120     250.0
27         60  '2020/12/27'     92       118     241.0
28         60  '2020/12/28'    103       132     130.0
29         60  '2020/12/29'    100       132     280.0
30         60  '2020/12/30'    102       129     380.3
31         60  '2020/12/31'     92       115     243.0

In [75]:
DP['Date'] = pd.to_datetime(DP['Date'], format='mixed')

In [78]:
DP["Date"]

0    2020-12-01
1    2020-12-02
2    2020-12-03
3    2020-12-04
4    2020-12-05
5    2020-12-06
6    2020-12-07
7    2020-12-08
8    2020-12-09
9    2020-12-10
10   2020-12-11
11   2020-12-12
12   2020-12-12
13   2020-12-13
14   2020-12-14
15   2020-12-15
16   2020-12-16
17   2020-12-17
18   2020-12-18
19   2020-12-19
20   2020-12-20
21   2020-12-21
22          NaT
23   2020-12-23
24   2020-12-24
25   2020-12-25
26   2020-12-26
27   2020-12-27
28   2020-12-28
29   2020-12-29
30   2020-12-30
31   2020-12-31
Name: Date, dtype: datetime64[ns]

In [81]:
DP["Date"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 32 entries, 0 to 31
Series name: Date
Non-Null Count  Dtype
--------------  -----
31 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 388.0 bytes

In [84]:
DP.loc[22, "Date"] = pd.to_datetime("2020-12-22")

In [87]:
DP

     Duration       Date  Pulse  Maxpulse  Calories
0          60 2020-12-01    110       130     409.1
1          60 2020-12-02    117       145     479.0
2          60 2020-12-03    103       135     340.0
3          45 2020-12-04    109       175     282.4
4          45 2020-12-05    117       148     406.0
5          60 2020-12-06    102       127     300.0
6          60 2020-12-07    110       136     374.0
7         450 2020-12-08    104       134     253.3
8          30 2020-12-09    109       133     195.1
9          60 2020-12-10     98       124     269.0
10         60 2020-12-11    103       147     329.3
11         60 2020-12-12    100       120     250.7
12         60 2020-12-12    100       120     250.7
13         60 2020-12-13    106       128     345.3
14         60 2020-12-14    104       132     379.3
15         60 2020-12-15     98       123     275.0
16         60 2020-12-16     98       120     215.2
17         60 2020-12-17    100       120     300.0
18         45 2020-12-18     90       112     130.0
19         60 2020-12-19    103       123     323.0
20         45 2020-12-20     97       125     243.0
21         60 2020-12-21    108       131     364.2
22         45 2020-12-22    100       119     282.0
23         60 2020-12-23    130       101     300.0
24         45 2020-12-24    105       132     246.0
25         60 2020-12-25    102       126     334.5
26         60 2020-12-26    100       120     250.0
27         60 2020-12-27     92       118     241.0
28         60 2020-12-28    103       132     130.0
29         60 2020-12-29    100       132     280.0
30         60 2020-12-30    102       129     380.3
31         60 2020-12-31     92       115     243.0

In [90]:
#DP.at[22, "Date"] = pd.to_datetime("2020-12-22")

In [93]:
DP.columns

Index([' Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [96]:
DP.at[7, " Duration"] = 45

In [99]:
DP

     Duration       Date  Pulse  Maxpulse  Calories
0          60 2020-12-01    110       130     409.1
1          60 2020-12-02    117       145     479.0
2          60 2020-12-03    103       135     340.0
3          45 2020-12-04    109       175     282.4
4          45 2020-12-05    117       148     406.0
5          60 2020-12-06    102       127     300.0
6          60 2020-12-07    110       136     374.0
7          45 2020-12-08    104       134     253.3
8          30 2020-12-09    109       133     195.1
9          60 2020-12-10     98       124     269.0
10         60 2020-12-11    103       147     329.3
11         60 2020-12-12    100       120     250.7
12         60 2020-12-12    100       120     250.7
13         60 2020-12-13    106       128     345.3
14         60 2020-12-14    104       132     379.3
15         60 2020-12-15     98       123     275.0
16         60 2020-12-16     98       120     215.2
17         60 2020-12-17    100       120     300.0
18         45 2020-12-18     90       112     130.0
19         60 2020-12-19    103       123     323.0
20         45 2020-12-20     97       125     243.0
21         60 2020-12-21    108       131     364.2
22         45 2020-12-22    100       119     282.0
23         60 2020-12-23    130       101     300.0
24         45 2020-12-24    105       132     246.0
25         60 2020-12-25    102       126     334.5
26         60 2020-12-26    100       120     250.0
27         60 2020-12-27     92       118     241.0
28         60 2020-12-28    103       132     130.0
29         60 2020-12-29    100       132     280.0
30         60 2020-12-30    102       129     380.3
31         60 2020-12-31     92       115     243.0